{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Math Word</title>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="container">
      <a href="{% url 'home' %}">
        <button class="btn btn-primary my-2">Trang chủ</button>
      </a>
      <a href="{% url 'thread' %}">
        <button class="btn btn-primary my-2">Đề mẫu</button>
      </a>
      <a href="{% url 'about' %}">
        <button class="btn btn-primary my-2">Chúng tôi</button>
      </a>
    </div>
  </head>
  <body>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Solve Math Word</h1>
      <p class="lead text-muted">Hãy nhập bài toán của bạn vào đây!</p>
      <form method="POST" action="result/">
      <div class="input-group mb-3">
          {% csrf_token %}
          <input type="text" name="search" class="form-control" aria-label="Username">
      </div>
    
      <p>
        <button type="submit" name="submit" value="search" class="btn btn-primary my-2">Solve</button>
        <button type="submit" name="submit" value="lucky" class="btn btn-secondary my-2">Search More</button>
      </p>
      </form>
    </div>
  </section>

</main>
</body>
</html>