{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Math Word</title>
    <!-- Bootstrap core CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <div class="container">
            <a href="{% url 'home' %}">
                <button class="btn btn-primary my-2">Trang chủ</button>
            </a>
            <a href="{% url 'thread' %}">
                <button class="btn btn-primary my-2">Đề mẫu</button>
            </a>
            <a href="{% url 'about' %}">
                <button class="btn btn-primary my-2">Chúng tôi</button>
            </a>
        </div>
    </head>

    <body>
        <main role="main">
            <!-- <section class="jumbotron text-center"> -->
                <div style="text-align: justify;">
                    <ul><h5>1. Một cửa hàng buổi sáng bán được 13 kg đường. Buổi chiều bán được số đường gấp ba lần số đường bán được vào buổi sáng. Hỏi cả hai buổi cửa hàng bán được bao nhiêu ki-lô-gam đường?</h5></ul>
                    <ul><h5>2. Một cửa hàng ngày thứ nhất bán được 28 lít dầu. Số dầu ngày thứ hai bán được bằng 1/7 số dầu bán được của ngày thứ nhất. Hỏi cả hai ngày cửa hàng bán được bao nhiêu lít dầu?</h5></ul>
                    <ul><h5>3. Mai có 21 nhãn vở, An có nhiều hơn Mai 3 nhãn vở. Hỏi cả hai bạn có tất cả bao nhiêu cái nhãn vở?</h5></ul>
                    <ul><h5>4. Mỹ hái được 40 bông hoa. Số bông hoa Linh hái được bằng 1/5 số hoa Mỹ hái được. Hỏi hai bạn hái được tất cả bao nhiêu bông hoa?</h5></ul>
                    <ul><h5>5. Một cửa hàng buổi sáng bán được 26 kg đường. Số đường buổi sáng bán được ít hơn số đường bán trong buổi chiều là 26 kg. Hỏi cả hai buổi cửa hàng bán được bao nhiêu ki-lô-gam đường?</h5></ul>
                    <ul><h5>6. Một cửa hàng buổi sáng bán được 17 kg đường. Số đường buổi sáng bán được ít hơn số đường bán trong buổi chiều là 51 kg. Hỏi cả hai buổi cửa hàng bán được bao nhiêu ki-lô-gam đường?</h5></ul>
                    <ul><h5>7. Một cửa hàng ngày thứ nhất bán được 64 lít dầu. Số dầu ngày thứ hai bán được bằng 1/8 số dầu bán được của ngày thứ nhất. Hỏi cả hai ngày cửa hàng bán được bao nhiêu lít dầu?</h5></ul>
                    <ul><h5>8. Một cửa hàng buổi sáng bán được 28 kg đường. Số đường buổi sáng bán được ít hơn số đường bán trong buổi chiều là 12 kg. Hỏi cả hai buổi cửa hàng bán được bao nhiêu ki-lô-gam đường?</h5></ul>
                    <ul><h5>9. Mỹ hái được 36 bông hoa. Số bông hoa Linh hái được bằng 1/4 số hoa Mỹ hái được. Hỏi hai bạn hái được tất cả bao nhiêu bông hoa?</h5></ul>
                    <ul><h5>10. Một cửa hàng buổi sáng bán được 49 kg đường. Số đường buổi sáng bán được nhiều hơn số đường bán trong buổi chiều 32 kg. Hỏi cả hai buổi cửa hàng bán được bao nhiêu ki-lô-gam đường?</h5></ul>
                    <ul><h5>11. Mỹ hái được 13 bông hoa, Linh hái được nhiều hơn Mỹ 45 bông hoa. Hỏi hai bạn hái được tất cả bao nhiêu bông hoa?</h5></ul>
                    <ul><h5>12. Băng giấy đỏ dài 40 cm, băng giấy xanh dài hơn băng giấy đỏ 15 cm. Hỏi cả hai băng giấy dài bao nhiêu xăng-ti-mét?</h5></ul>
                    <ul><h5>13. Một cửa hàng buổi sáng bán được 26 kg đường. Số đường buổi sáng bán được ít hơn số đường bán trong buổi chiều là 45 kg. Hỏi cả hai buổi cửa hàng bán được bao nhiêu ki-lô-gam đường?</h5></ul>
                    <ul><h5>14. Một cửa hàng buổi sáng bán được 3 kg đường. Buổi chiều bán được số đường gấp hai lần số đường bán được vào buổi sáng. Hỏi cả hai buổi cửa hàng bán được bao nhiêu ki-lô-gam đường?</h5></ul>
                    <ul><h5>15. Một cửa hàng buổi sáng bán được 52 kg đường. Số đường buổi sáng bán được nhiều hơn số đường bán trong buổi chiều 27 kg. Hỏi cả hai buổi cửa hàng bán được bao nhiêu ki-lô-gam đường?</h5></ul>
                    <ul><h5>16. Một cửa hàng buổi sáng bán được 24 kg đường. Buổi chiều bán được số đường bằng 1/6 số đường bán được vào buổi sáng. Hỏi cả hai buổi cửa hàng bán được bao nhiêu ki-lô-gam đường?</h5></ul>
                    <ul><h5>17. Mỹ hái được 5 bông hoa. Số bông hoa Linh hái được gấp sáu lần số hoa Mỹ hái được. Hỏi hai bạn hái được tất cả bao nhiêu bông hoa?</h5></ul>                            
                    <ul><h5>18. Băng giấy đỏ dài 11 cm, băng giấy xanh dài hơn băng giấy đỏ 2 cm. Hỏi cả hai băng giấy dài bao nhiêu xăng-ti-mét?</h5></ul>
                    <ul><h5>19. Tổ một gấp được 28 cái thuyền, tổ hai gấp được gấp được nhiều hơn tổ một 11 cái thuyền. Hỏi cả hai tổ gấp được bao nhiêu cái thuyền?</h5></ul>    
                    <ul><h5>20. Một cửa hàng ngày thứ nhất bán được 34 lít dầu. Số dầu ngày thứ hai bán được bằng 1/2 số dầu bán được của ngày thứ nhất. Hỏi cả hai ngày cửa hàng bán được bao nhiêu lít dầu?</h5></ul>
                    <ul><h5>21. Băng giấy đỏ dài 51 cm, băng giấy xanh ngắn hơn băng giấy đỏ 43 cm. Hỏi cả hai băng giấy dài bao nhiêu xăng-ti-mét?</h5></ul>    
                    <ul><h5>22. Mỹ hái được 12 bông hoa, Linh hái được nhiều hơn Mỹ 32 bông hoa. Hỏi hai bạn hái được tất cả bao nhiêu bông hoa?</h5></ul>    
                    <ul><h5>23. Một cửa hàng ngày thứ nhất bán được 30 lít dầu. Số dầu bán được của ngày thứ nhất ít hơn số dầu bán được của ngày thứ hai 21 lít. Hỏi cả hai ngày cửa hàng bán được bao nhiêu lít dầu?</h5></ul>    
                    <ul><h5>24. Ngăn trên có 36 quyển sách. Số sách ở ngăn trên ít hơn số sách ở ngăn dưới 20 quyển. Hỏi cả hai ngăn có bao nhiêu quyển sách?</h5></ul>
                    <ul><h5>25. Một cửa hàng ngày thứ nhất bán được 68 lít dầu. Số dầu ngày thứ hai bán được bằng 1/4 số dầu bán được của ngày thứ nhất. Hỏi cả hai ngày cửa hàng bán được bao nhiêu lít dầu?</h5></ul>
                </div>
            <!-- </section> -->
        </main>
    </body>